.container {
  display: flex;
  width: 600px;
  gap: 1rem;
}

@media screen and (max-width: 700px) {
  .container {
    width: calc(100%);
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.book-title {
  font-weight: 500;
  margin: 0 0 0.5rem;
  padding-right: 3rem;
}

.download-wrapper,
.status {
  margin-top: 1rem;
}

.status {
  font-weight: bold;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  flex-shrink: 0;
}

.button {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  border: none;
  padding: 0.75rem 1rem;
  width: max-content;
  color: white;
}
